body {
  -webkit-font-smoothing: antialiased;}
p {
  color: #e43397;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: center;}
/* loading dots */

.loading:after {
  content: '.';
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: #e43397;
    text-shadow:
      .25em 0 0 #e43397,
      .5em 0 0 #e43397;}
  40% {
    color: #121640;
    text-shadow:
      .25em 0 0 #e43397,
      .5em 0 0 #e43397;}
  60% {
    text-shadow:
      .25em 0 0 #121640,
      .5em 0 0 #e43397;}
  90%, 100% {
    text-shadow:
      .25em 0 0 #e43397,
      .5em 0 0 #121640;}}
